STG web/App_Data/aspnet-STG web-*.mdf
STG web/App_Data/aspnet-STG web-*.ldf
STG web/App_Data/aspnet-STG web-20160727011229_log.ldf
STG web/App_Data/aspnet-STG web-20160727011229.mdf
STG web/App_Data/aspnet-STG web-20160727011229.mdf
STG web/App_Data/aspnet-STG web-20160727011229_log.ldf
STG web/obj/Debug/STG web.csprojResolveAssemblyReference.cache
STG web/bin/STG web.dll
STG web/obj/Debug/STG web.dll
STG web/obj/Debug/STG web.pdb
STG web/bin/STG web.pdb
STG web/bin/STG web.dll